/* * {
  border: 1px dotted gray;
} */
a {
  color: rgb(31, 36, 82);
  text-decoration: none;
}
body {
  background-color: rgb(248, 243, 242);
}

.head_ul {
  width: 600px;
  justify-content: space-around;

  display: flex;
  align-items: top;
  font-size: 2rem;
}
.head_ul > li > ul {
  padding-top: 10px;
  font-size: 1rem;
}

li {
  list-style-type: none;
}

.logo {
  width: 150px;
}
.result_menu > ul {
  display: none;
}
.result_menu input[type="checkbox"] {
  display: none;
}

.result_menu input[type="checkbox"]:checked ~ ul {
  display: block;
}

/* -----------------header--------------------- */
.align_center {
  display: flex;
  justify-content: center;
}
header {
  display: flex;
}

/* --------------------section--------------------- */
section {
  display: flex;
  justify-content: center;
}
section > img {
  width: 100%;
}

table {
  margin-left: 50px;
}

th,
td {
  width: 180px;
  height: 30px;
}
